# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output 디렉토리 무시
Output/

# Engine/x64 디렉토리 무시
Engine/x64/

# Client/x64 디렉토리 무시
Client/x64/

# Visual Studio 관련 파일/폴더 무시
.vs/

